.color-picker-container {
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-picker-container.vertical {

  flex-direction: column;

  margin: 0px 10px;
  padding: 50px 1%;

  border: 1px black solid;
  border-radius: 8px;

  width: 80%;
}

.color-picker-container.vertical .react-colorful {
  width: 80%;
}

.color-input-container.vertical {
  margin-top: 10px;
  width: 80%;
}

.color-picker-container.horizontal {
  width: 100%;
  height: 100%;
}

.color-picker-container.horizontal .react-colorful {
  margin-right: 2%;
  margin-left: 2%;
}

.color-input-container {
  /* background-color: red; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.color-input-container form input {
  width: 70%;
}

.color-input-container form label {
  display: inline-block;
  text-align: right;
  width: 10%;
  margin-right: 8px;
}

.color-input-container .hex-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  border-radius: 3px;
}

.color-input-container .hex-input input {
  width: 80%;
  text-align: center;
}

.color-input-container .hex-input label {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 0.8rem;
  margin-top: 3px;
}

.color-picker-container .react-colorful {
  height: auto;
  aspect-ratio: 1/1;
}

.color-picker-container .react-colorful__saturation-pointer,
.color-picker-container .react-colorful__hue-pointer {
  width: 24px;
  height: 24px;
  border-radius: 3px;
}

.color-picker-container .react-colorful__hue {
  height: 24px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.color-picker-container .react-colorful__saturation {
  border-radius: 3px;
}